.web基地{ background:url("web基地.png") top left no-repeat; }
.web基地_r4_c7{ width:51px; height:190px; background-position:-10px -10px; }
.web基地_r7_c3{ width:65px; height:68px; background-position:-71px -10px; }
.web基地_r6_c5{ width:93px; height:55px; background-position:-146px -10px; }
.web基地_r4_c2{ width:18px; height:32px; background-position:-249px -10px; }
.web基地_r5_c4{ width:259px; height:27px; background-position:-10px -210px; }
.web基地_r2_c9{ width:12px; height:11px; background-position:-10px -247px; }

